body {
    font-family: "Roboto Slab", serif;
    margin: 0;
    padding: 0;
    color: rgb(46, 46, 115);
}

header, section, footer, aside, article, figure {
    display: block;
}

.container {
    width: 100%;
    background-color: white;
    margin: 0 auto;
}

header {
    box-sizing: border-box;
    color:rgb(69, 69, 146);
    padding-top: .8em;
    padding-left: 0;
}

.content {
    box-sizing: border-box;
    padding-left: .8em;
    width: 100%;
    float: none;
}

nav ul {
    text-align: center;
    list-style: none;
    background-color:rgb(69, 69, 146); 
    margin-bottom: 1em;
    padding: 0;
}

nav li {
    display: block;
}

nav a, nav a:link, nav a:visited {
    display: block;
    margin: auto;
    padding: .7em;
    width: 100%;
    text-decoration: none;
    color: white;
    border: 1px solid white;
}

nav a:hover {
    background-color:rgb(106, 106, 224) ;
    color: white;
}

figure {
    margin: 0;
}

figcaption {
    font-size: .7em;
}

ul, ol, dl {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, p {
    box-sizing: border-box;
    margin: 0;
    padding-right: .9em;
    padding-left: .9em;
}

footer {
    padding: 1.5em;
    background-color: rgb(69, 69, 146);
    color: white;
    clear: both;
    margin-top: 10px;
}

footer p {
    font-size: .8em;
}

.image-left, .image-right {
    padding: 1em;
    width: auto;
    float: none;
}

.sidebar {
    float: none;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(106, 106, 224);
    padding: .8em .5em;
}

.sidebar a {
    color: rgb(106, 106, 224) ;
}

h1, h2, h3 {
    padding-left: 1.4em;
    font-family: "Bebas Neue", sans-serif;
}

h1 {
    font-size: 2em;
    padding-left: 1em;
}
