body {
    background-color: rgb(25, 13, 71);
}
.stew-content {
    background-color: rgb(219, 219, 209);
    width: 700px;
    padding: 10px;
    margin:auto;
}

h1,h2,h3 {
    color: rgb(222, 103, 23);
}

footer {
    background-color: rgb(222, 103, 23);
    color: rgb(219, 219, 209);
    padding-top: 7px;
    padding-bottom: 7px;
    clear: both;
    padding-left: 5px;
}

.pure {
    color: beige;
}

